@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #474f85;
    font-family: 'Libre Baskerville', serif;
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    padding: 2rem;
    width: 70rem;
    height: 30rem;
    border-radius: 2rem;
}


.principal {
    background: #fff;
    grid-template-rows: 1fr;
}

/*clock*/
.principal-clock {
    background-image: url("../0/img/reloj.jpg");
    width: 30rem;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.principal-clock .number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotacion));
}

.principal-clock .number1 {
    --rotacion: 30deg;
}

.principal-clock .number2 {
    --rotacion: 60deg;
}

.principal-clock .number3 {
    --rotacion: 90deg;
}

.principal-clock .number4 {
    --rotacion: 120deg;
}

.principal-clock .number5 {
    --rotacion: 150deg;
}

.principal-clock .number6 {
    --rotacion: 180deg;
}

.principal-clock .number7 {
    --rotacion: 210deg;
}

.principal-clock .number8 {
    --rotacion: 240deg;
}

.principal-clock .number9 {
    --rotacion: 270deg;
}

.principal-clock .number10 {
    --rotacion: 300deg;
}

.principal-clock .number11 {
    --rotacion: 330deg;
}

.principal-clock .number12 {
    --rotacion: 360deg;
}

.principal-clock .hand {
    --rotacion: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    transform-origin: bottom;
    z-index: 10;
    transform: translate(-50%) rotate(calc(var(--rotacion)*1deg));
}

.principal-clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.principal-clock .principal-clock-sec {
    height: 37%;
    width: 0.2rem;
    background-color: rgb(196, 13, 13);
}

.principal-clock .principal-clock-min {
    height: 32%;
    width: 0.4rem;
    background-color: rgb(36, 24, 24);
}

.principal-clock .principal-clock-hours {
    height: 25%;
    width: 0.55rem;
    background-color: black;
}

/*fecha*/

.principal-date-temperature {
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 5fr;
    text-align: center;
}

.principal-date-actual {
    font-size: 2.5rem;
    text-align: center;
    color: #272b4d;
}

.search {
    background-color: #fff;
    width: 1.5rem;
    border: none;
}

.principal-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal-search-input {
    height: 2.2rem;
    width: 20rem;
    font-size: 1.4rem;
    border: none;
    border-bottom: 0.1rem solid gray;
    user-select: none;
}

.principal-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.principal-weather-localizacion,
.principal-weather-tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.error {
    font-size: 1rem;
}