*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    background-color: gray;
    padding: 2rem;
    width: 50rem;
    height: 20rem;
}

@media screen and (max-width: 780px){
    .principal{
        margin: 1rem;
        height: 30rem;
        display: grid;
        grid-template-columns: auto;
    }
}

