* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 42, 42);
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    background-color: gray;
    padding: 2rem;
    width: 70rem;
    height: 30rem;
}

@media screen and (max-width: 780px) {
    .principal {
        margin: 1rem;
        height: 50rem;
        display: grid;
        grid-template-columns: auto;
    }
}

/*clock*/
.principal-clock {
    background-image: url("../0/img/reloj.jpg");
    width: 30rem;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.principal-clock .number{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotacion));
}

.principal-clock .number1 {--rotacion: 30deg; }
.principal-clock .number2 {--rotacion: 60deg; }
.principal-clock .number3 {--rotacion: 90deg; }
.principal-clock .number4 {--rotacion: 120deg; }
.principal-clock .number5 {--rotacion: 150deg; }
.principal-clock .number6 {--rotacion: 180deg; }
.principal-clock .number7 {--rotacion: 210deg; }
.principal-clock .number8 {--rotacion: 240deg; }
.principal-clock .number9 {--rotacion: 270deg; }
.principal-clock .number10 {--rotacion: 300deg; }
.principal-clock .number11 {--rotacion: 330deg; }
.principal-clock .number12 {--rotacion: 360deg; }

.principal-clock .hand{
    --rotacion: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    transform-origin: bottom;
    z-index: 10;
    transform: translate(-50%) rotate(calc(var(--rotacion)*1deg));
}

.principal-clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.principal-clock .principal-clock-sec{
    height: 38%;
    width: 0.2rem;
    background-color: rgb(196, 13, 13);
}

.principal-clock .principal-clock-min{
    height: 35%;
    width: 0.4rem;
    background-color: rgb(85, 70, 70);
}

.principal-clock .principal-clock-hours{
    height: 28%;
    width: 0.55rem;
    background-color: black;
}

/*fecha*/